
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color:#8B4513;
    overflow: hidden;
}
.project{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}
.project-item{
    float: left;
    border: 1px solid black;
    width: 32.50%;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.footer{
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
}
.add{
    float: left;
    border: 1px solid black;
    width: 32.5%;
    height: 100px;
    margin-right: 10px;
}